{
    "endOfLine": "auto",
    "tabWidth": 4,
    "useTabs": false,
    "tailwindFunctions": [
        "clsx",
        "cn"
    ],
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "semi": true
}